<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Document</title>
</head>
<body>
    <section class="header">
        <nav class="nav-bar">
            <div>
                <h1>LIBOOK.</h1>
            </div>
            <div class="navlinks" id="navbar">

                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="books.html">Books</a>
                    </li>
                    <li>
                        <a href="#new-products">About Us</i></a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="icons">
                <div class="icon" id="user">
                    <i class="fa-regular fa-user" id="user-acc" onclick="myclick()" ondblclick="myclick12()" title="Account"></i>
                    
                </div>
                <div class="icon" id="cart">
                    <a href="cart.html"><i class="fa-solid fa-cart-arrow-down" title="Your Cart"></i></a>
                </div>

            </div>
        </nav>
    </section>
</body>
</html> -->