<h1 style="text-align: center; margin-top: 5rem;">Have any queries? We're here to help</h1>
<section ng-controller="ContactController" class="create-account">
    <div class="sign-up">
        <form ng-submit="send()">
            <!-- <input type="text" name="txtname" placeholder="Name"> -->
            <input type="text" ng-model="formData.subject" placeholder="Subject">
            <!-- <input type="email" name="txtemail" placeholder="Email" aria-required="true"> -->
            <textarea name="txtarea" id="" cols="40" rows="8" ng-model="formData.initialMessage" placeholder="Write Your Message..."></textarea>
            <button type="submit" class="btn">Send Message</button>
        </form>
    </div>
</section>